<h1> Welcome to Pocket Passer </h1>
<h2> <%= link_to 'Sign in', pocket_authorize_url %> to your Pocket account to get Started </h2>

<p>
    This is an app that lets you look at your saved articles and either choose to skip or read them now, tinder style.
    Once you skip an article, you're a lot less likely to be shown that article again.
</p>